[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
python-dotenv = "*"
flask-cors = "*"
pymongo = "*"

[dev-packages]
black = "*"
pylint = ">=3.0.0"
pycodestyle = "*"

[requires]
python_version = "3.13"
